
@import url(/fonts/clear-sans.css);

* {
	margin: 0;
	padding: 0;
}

body {
	position: absolute;
	background: #6f6f6f;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 2em;
	padding-bottom: 2em;
	width: 80%;
}

.main-top {
	
}

.main-shadow {
	box-shadow: 0px 0px 5px lightgray;
	background: #000000;
	opacity: 0.8;
}

.main-shadow:hover {
	box-shadow: 2px 2px 10px lightgray;
	opacity: 1;
}

.main-alpha-shadow {
	box-shadow: 0px 0px 5px lightgray;
	background: #ffffff00;
	opacity: 0.8;
}

.main-alpha-shadow:hover {
	box-shadow: 2px 2px 10px lightgray;
	background: #ffffff11;
	opacity: 1;
}

.main-text-type {
	font-family: "楷体";
	color: #ffffff !important;
	opacity: 0.8;
}

.main-text-type:hover {
	opacity: 1;
}

.main-top-bottom {
	float: top;
	height: 25px;
	width: 100px;
	border-radius: 5px;
}

.main-top-bottom:hover {
	opacity: 1;
}

.main-body {
	position: absolute;
	margin-top: 1em;
	height: 600px;
	width: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 16px;
	padding-right: 16px;
}

.main-body-command {
	border-radius: 5px;
	display: block;
	position: absolute;
	width: 26%;
	height: 100%;
	overflow: auto;
}

.main-body-command::-webkit-scrollbar {
	width: 10px;
}

.main-body-command-on {
	background: linear-gradient(to bottom, #ffffff00 25%, #000000ff 100%);
	border-radius: 5px;
	display: block;
	z-index: 21474836;
	position: absolute;
	float: left;
	width: 26%;
	height: 100%;
	pointer-events: none;
}

.message-text {
	font-size: 16px;
	margin-top: 2px;
	margin-bottom: 2px;
	position: static;
}

.main-body-display {
	border-radius: 5px;
	position: absolute;
	right: 0px;
	width: 70%;
	height: 100%;
	overflow: auto;
}
